In [4]:
import problem
import pandas as pd
from multiprocessing import Pool

In [5]:
with Pool(processes=4) as pool:
    res_l=pool.map(problem.f,problem.c_list)

In [6]:
res={}
for tup in res_l:
    res[tup[0]]=(tup[1],tup[2],tup[3],tup[4])

In [7]:
totsmc=pd.DataFrame(res).applymap(lambda x:f'${x[1]:.2f} Change: {(x[1]-x[0])*100/x[0]:.0f}% from yesterday' if abs((x[1]-x[0])/x[0])>problem.total_mean_change else 'Not Significant')
totsc=pd.DataFrame(res).applymap(lambda x:f'${x[1]:.2f} Change: {(x[1]-x[0])*100/x[0]:.0f}% from yesterday' if abs((x[1]-x[0])/x[0])>problem.total_change else 'Not Significant')

In [8]:
totsmc.index=['Total','Mean','Mean not VIP','Mean VIP']
totsc.index=['Total','Mean','Mean not VIP','Mean VIP']

In [9]:
tots=totsmc
tots.loc[slice('Total'),:]=totsc.loc[slice('Total'),:]

In [10]:
tots

,korea,russia,ukraine,canada,usa,australia,vietnam,philipines,mexico,brazil
Total,Not Significant,$4648602.29 Change: 267% from yesterday,$4062890.61 Change: 283% from yesterday,Not Significant,Not Significant,Not Significant,$4489215.32 Change: 249% from yesterday,$4099746.73 Change: 277% from yesterday,Not Significant,$4101230.20 Change: 268% from yesterday
Mean,Not Significant,$4548.53 Change: 267% from yesterday,$4373.40 Change: 283% from yesterday,Not Significant,Not Significant,Not Significant,$4511.77 Change: 249% from yesterday,$4174.89 Change: 277% from yesterday,Not Significant,$4582.38 Change: 268% from yesterday
Mean not VIP,Not Significant,$4612.02 Change: 259% from yesterday,$4489.24 Change: 281% from yesterday,Not Significant,$4460.41 Change: 254% from yesterday,Not Significant,$4506.83 Change: 266% from yesterday,$4340.36 Change: 271% from yesterday,Not Significant,$4615.48 Change: 258% from yesterday
Mean VIP,Not Significant,$4489.14 Change: 275% from yesterday,$4256.31 Change: 285% from yesterday,Not Significant,Not Significant,Not Significant,Not Significant,$4014.08 Change: 284% from yesterday,$4542.71 Change: 249% from yesterday,$4550.66 Change: 279% from yesterday